/*
Colors used:
Primary Color (Blue): #42A7F0
Secondary Color (Light blue): #B7DDFA
Primary Text Color (Black): #11110
Secondary Text Color (Grey): #
*/

/*
Background color: #16558F
Text color: #B8E3FF
Secondary color: #61B0B7, #0583D2
*/

/* Scroll to top button */

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

* {
  box-sizing: border-box;
}

/* Header */
.logo {
  max-width: 150px;
}

*
header {
text-align: unset;
background-color: white;
padding: 10px 5;
position: fixed;
width: 100%;
-webkit-box-shadow: 0px 7px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 7px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

/* Main/body */

body {
  color: white;
  background-color: #16558F;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.75;
}

main {
  padding-top: 130px;
}

#hero {
  color: black;
  display: inline-block;
  width: 100%;
  background-color: white;
  text-align: center;
}

h1 {
  margin: 2;
  font-size: 32px;
  font-weight:900;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 20px;
}

/* Images */

img {
  width: 100%;
  height: auto;
}

#profile-pic {
  max-width: 400px;
  float: right;
}

/* Layout Styling */
.container {
  padding: 0 60px;
  max-width: 2000px;
}

contain.selector {
  position: relative;
  float: left;
}

#work.container {
  padding-top: 10px;
  border-bottom: 1px solid black;
}

ul > li {
  list-style-type: none;
}

/* Navigation */
nav {
  box-sizing: border-box;
  width: 100%;
}
nav > ul {
  list-style-type: none;
  box-sizing: border-box;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: none;
  font-weight: 700;
  color: #4a4a4a;
  text-decoration: none;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #16558F;
}
.navtoggle li:not(:last-child) {
  display: none; /* Hide all navigation elements except for hamburger icon in mobile view */
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .hamburgericon {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 30px;
  padding-right: 5px;
}

.navtoggle.responsive li  {
  display: block;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #16558F;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

/* About page buttons (work) */

a.myButton {
  background color: white;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px solid white;
  border-bottom: 2px solid white;
    transition: all .5s;'
}

a.myButton:hover {
  transition-duration: .5s;
  color: black;
  -webkit-transition: all .5s ease-in-out;
   -o-transition: all .5s ease-in-out;
   -webkit-transition: all .5s ease-in-out;
   transition: all .5s ease-in-out;
}

/* About page buttons (resume) */

a.resume {
  background color: white;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border: 2px solid white;
  -webkit-border-radius: .4em;
  transition: all .5s;'
}

a.resume:hover {
  background: linear-gradient(transparent);
  transition-duration: .5s;
  color: black;
  moz-transition: all .5s ease-in-out;
   -o-transition: all .5s ease-in-out;
   -webkit-transition: all .5s ease-in-out;
   transition: all .5s ease-in-out;
}


/* Index (Abile link) */
a.abile {
  color: white;
  text-decoration: underline; /* No underlining */
  transition: all .5s;'
}

a.abile:hover {
  color: black;
  transition: all .5s;'
  text-decoration: underline; /* Underlining when hovering over a link */
}

/* Footer Phone # */
a.phone {
  color: white;
  text-decoration: underline; /* No underlining */
  transition: all .5s;'
}

a.phone:hover {
  color: black;
  transition: all .5s;'
  text-decoration: underline; /* Underlining when hovering over a link */
}

/* Columns */
/*.col-md-6 {
   width: 50%;
  max-width: 100%;
 }

 .col-lg-3 {
  width: 50%;
  float: left;
}

.col-117 {
      max-width: 3000px;
      width: 30%;
      height: 400px;
      float: right;
} */

/*Style the social icons*/
.social {
  list-style-type: none;
  padding: 0;
  margin-left: -10px;
}

.social li {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}

.social img {
  height: 24px;
  width: 32px;
}

/*Media Queries*/

/*clear page flow*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*float all columns left*/

[class*="col-md-6 col-lg-3"]{
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    overflow: auto;
    float: left;
  }

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  .col-md-7 {
   width: 80%;
   float: right;
   width: auto;
 }

  body {
    font-size: 15px;
  }

  main {
    padding-top: 105px;

  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
  }
  nav > ul {
   margin: 1em 0;
 }

 nav > ul > li {
   display: inline-block;
   box-sizing: border-box;
 }

 .navtoggle.responsive nav {
   padding: 0;
 }

 .navtoggle.responsive li {
   padding: 0;
 }

 .navtoggle li:not(:last-child) {
   display: inline-block;
 }

 .navtoggle li:last-child {
   display: none;
 }

  .row::after{
    content: "";
    clear: both;
    display: table;
}
[class*="col-md-6 col-lg-3"]{
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    overflow: auto;
    float: left;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  .col-md-7 {
   width: 80%;
   float: right;
   padding-top: 20px;
   padding-left: 70px;
   width: auto;
 }

 body {
   font-size: 15px;
 }
 main {
   padding-top: 105px;
   padding-left: 70px;
   padding-right: 70px;
 }

 [class*="col-md-6 col-lg-3"]{
     width: 50%;
     box-sizing: border-box;
     padding: 10px;
     overflow: auto;
     float: left;
   }
}
