/*
Colors used:
Primary Color (Blue): #42A7F0
Secondary Color (Light blue): #B7DDFA
Primary Text Color (Black): #11110
Secondary Text Color (Grey): #
*/

/*
Background color: #16558F
Text color: #B8E3FF
Secondary color: #61B0B7, #0583D2
*/

* {
  box-sizing: border-box;
}

/* Header */
.logo {
  max-width: 150px;
}

header {
text-align: unset;
background-color: white;
padding: 10px 5;
position: fixed;
width: 100%;
-webkit-box-shadow: 0px 7px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 7px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

/* Main/body */

body {
  color: white;
  background-color: #16558F;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.75;
  margin: 0 auto;
}

main {
  padding-top: 153px;
}

#hero {
  color: black;
  display: inline-block;
  width: 100%;
  background-color: white;
  text-align: center;
}

h1 {
  margin: 2;
  font-size: 32px;
  font-weight:900;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 20px;
}

/* Images */

img {
  width: 100%;
  height: auto;
}

#profile-pic {
  max-width: 400px;
  float: right;
}

/* Layout Styling */
.container {
  padding: 0 60px;
  max-width: 2000px;
}

contain.selector {
  position: relative;
  float: left;
}

#work.container {
  padding-top: 20px;
  border-bottom: 1px solid black;
}

ul > li {
  list-style-type: none;
}

/* Navigation */
nav > ul {
  list-style-type: none;
  padding: 2;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: none;
  font-weight: 700;
  color: #4a4a4a;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: white;
}

/* About page buttons (work) */

a.myButton {
  background color: white;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px solid white;
  border-bottom: 2px solid white;
    transition: all .5s;'
}

a.myButton:hover {
  transition-duration: .5s;
  color: black;
  -webkit-transition: all .5s ease-in-out;
   -o-transition: all .5s ease-in-out;
   -webkit-transition: all .5s ease-in-out;
   transition: all .5s ease-in-out;
}

/* About page buttons (resume) */

a.resume {
  background color: white;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border: 2px solid white;
  -webkit-border-radius: .4em;
  transition: all .5s;'
}

a.resume:hover {
  background: linear-gradient(transparent);
  transition-duration: .5s;
  color: black;
  moz-transition: all .5s ease-in-out;
   -o-transition: all .5s ease-in-out;
   -webkit-transition: all .5s ease-in-out;
   transition: all .5s ease-in-out;
}

/* About page (skills & tools) */

.col-xs-1 {
  float: left;
  width: 100%;
  max-width: 100%;
}

.col-md-6 {
   width: 50%;
  max-width: 100%;
 }

/* Index (Abile link) */
a.abile {
  color: white;
  text-decoration: underline; /* No underlining */
  transition: all .5s;'
}

a.abile:hover {
  color: black;
  transition: all .5s;'
  text-decoration: underline; /* Underlining when hovering over a link */
}

/* Footer Phone # */
a.phone {
  color: white;
  text-decoration: underline; /* No underlining */
  transition: all .5s;'
}

a.phone:hover {
  color: black;
  transition: all .5s;'
  text-decoration: underline; /* Underlining when hovering over a link */
}

/* Columns */
.col-xs-1 {
  float: left;
  width: 100%;
  max-width: 100%;
}

.col-md-6 {
   width: 50%;
  max-width: 100%;
 }

 .col-lg-3 {
  width: 50%;
  float: left;
}

.col-117 {
      max-width: 3000px;
      width: 30%;
      height: 400px;
      float: right;
}

/*Media Queries*/

/*clear page flow*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*float all columns left*/
[class*="col-"] {
  padding: 10px;
}

/* ==============================
Small devices (120px and larger)
================================= */
@media only screen and (min-width: 120px) {
  body {
    font-size: 15px;
  }

  header {
    text-align: center;
    padding: 20px 0 13px;
  }

  main {
    padding-top: 150px;
  }

  nav {
    width: auto;
    text-align: center;
  }

  .logo {
    position: relative;
    left: 13px;
  }

}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  body {
    font-size: 15px;
  }

  main {
    padding-top: 100px;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 15px;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  body {
    font-size: 15px;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
    width: 100%;
  }

  nav {
    width: auto;
    float: right;
  }
}

/* ==============================
Extra-large devices (2000px or larger)
================================= */
@media only screen and (min-width: 2000px) {
  body {
    font-size: 15px;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
    width: 100%;
  }
}
