/*
Colors used:
Primary Color (Blue): #42A7F0
Secondary Color (Light blue): #B7DDFA
Primary Text Color (Black): #11110
Secondary Text Color (Grey): #
*/

/*
Background color: #16558F
Text color: #B8E3FF
Secondary color: #61B0B7, #0583D2
*/

* {
  box-sizing: border-box;
}

/* Header */
.logo {
  width: 60px;
  float: left;
  margin-left: 30px;
  margin-top: 12px;
  padding-bottom: 10px;
}

picture {
  width: 50%;
  margin: auto;
}

header {
  background-color: #047dbb;
  padding: 10px 5;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 7px 5px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0 7px 5px 0 rgba(50, 50, 50, 0.75);
  box-shadow: 0 7px 5px 0 rgba(50, 50, 50, 0.75);
  z-index: 3;
}

/* Main/body */

body {
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 2em;
}

main {
  padding-top: 50px;
  box-sizing: border-box;
  text-align: left;
}

nav {
  box-sizing: border-box;
  width: 100%;
  min-width: 19px;
  max-width: 10px;
  max-height: auto;
  min-height: 50px;
  padding-right: 7em;
  float: right;
  font-size: 14px;
  line-height: 2.5em;
  text-align: center;
}

#hero {
  display: inline-block;
  color: #047dbb;
  text-align: center;
  font-family: helvetica;
  padding-top: 150px;
  padding-bottom: 30px;
  margin-left: 0px;
  background-color: white;
  opacity: 0.85;
  width: auto;
}

.hero-image {
  background-image: url("https://miro.medium.com/max/1400/1*HqajPsLM17Z3VkMi1vxZ-Q.jpeg");
  background-position: center;
  background-size: cover;
  width: auto;
}

h1 {
  line-height: 1.4em;
  font-size: 31px;
  font-weight: bold;
}

h2 {
  font-size: 19px;
  font-weight: bold;
}

h3 {
  font-size: 26px;
  text-align: center;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
  font-family: helvetica;
}

/* Images */

img {
  width: 100%;
}

#profile-pic {
  max-width: 400px;
  float: right;
}

/* Layout Styling */
.container {
  padding: 0 15px;
  max-width: 4000px;
}

.container.selector {
  position: relative;
  float: center;
}

#work.container {
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

#footer.container {
  text-align: center;
  border-top: 2px solid black;
}

#resume {
  padding-top: 40px;
  font-weight: bold;
  color: #2db6fb;
}

#resume.container {
  position: center;
  padding-top: 40px;
  font-weight: bold;
  color: #40bad2;
}

/* Navigation */

nav > ul {
  list-style-type: none;
  box-sizing: border-box;
  float: right;
  padding: none;
  margin-top: 1;
}

nav > ul > li {
  box-sizing: border-box;
}

nav > ul > li > a {
  padding: 0 20px;  /* 0 on top and bottom, 15px left and right */
  font-weight: 100;
  text-decoration: none;
  color: white;
}

/* for the hamburger menu */
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 13px;
  font-size: 18px;
  padding-right: 15px;
  color: white;
}

.navtoggle li:not(:last-child) {
  display: none; /* Hide all navigation elements except for hamburger icon in mobile view */
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive nav {
}

.navtoggle.responsive li {
  display: inline-block;
}

.navtoggle.responsive li:last-child {
  padding: 3;
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

/* About page buttons (work) */

a.myButton {
  background-color: white;
  color: black;
  font-weight: 400;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px solid black;
  border-bottom: 2px solid black;
  transition: all 0.5s;
}

a.myButton:hover {
  transition: all 0.5s ease-in-out;
  transition-duration: 0.5s;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

/* index page button */

a.herobutton {
  background-color: white;
  color: #047dbb;
  text-decoration: none;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 300px;
  height: 300px;
  border: 2px solid #047dbb;
  -webkit-border-radius: 0.4em;
  transition: all 0.5s;
  text-align: center;
}

a.herobutton:hover {
  transition: all 0.5s ease-in-out;
  transition-duration: 0.5s;
  color: black;
  border: 2px solid black;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

/* Index page-case studies */
a.casestudy {
  color: black;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid black;
  -webkit-border-radius: 0.4em;
  transition: all 0.5s;
  text-align: center;
  background-color: white;
}

a.casestudy:hover {
  transition: all 0.5s ease-in-out;
  transition-duration: 0.5s;
  color: #047dbb;
  border: 2px solid #047dbb;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

/* Footer Phone # */
a.phone {
  color: black;
  text-decoration: underline; /* No underlining */
  transition: all 0.5s;
}

a.phone:hover {
  color: white;
  transition: all 0.5s;
  text-decoration: underline; /* Underlining when hovering over a link */
}

/* Style the social icons */
.social {
  list-style-type: none;
  padding: 0;
  margin-left: -10px;
}

.social li {
  display: inline-block;
  margin-top: 10px;
  margin-left: 12px;
}

.social img {
  width: 28px;
  height: 23px;
}

/* Media Queries */

/* clear page flow */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* float all columns left */

[class*="col-md-6 col-lg-3"] {
  width: 50%;
  box-sizing: border-box;
  margin-top: 30px;
  overflow: auto;
  line-height: 2;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .col-md-7 {
    width: 50%;
    float: right;
    padding-top: 80px;
    padding-left: 20px;
  }

  .logo {
    width: 60px;
    float: left;
  }

  body {
    font-size: 14px;
  }

  header {
    text-align: unset;
    z-index: 3;
  }

  nav {
    box-sizing: border-box;
    width: 100%;
    min-width: 10px;
    max-width: 500px;
    max-height: auto;
    min-height: 20px;
    padding-right: 6em;
    float: right;
  }

  #hero {
    display: inline-block;
    color: #047dbb;
    text-align: center;
    font-family: helvetica;
    padding-top: 280px;
    padding-bottom: 200px;
    margin-left: 0px;
    background-color: white;
    opacity: 0.85;
    width: auto;
  }

  .hero-image {
    background-image: url("https://miro.medium.com/max/1400/1*HqajPsLM17Z3VkMi1vxZ-Q.jpeg");
    background-position: center;
    background-size: cover;
    width: auto;
  }

  h1 {
    line-height: 1.5em;
    font-size: 40px;
    font-weight: bold;
  }

  h2 {
    margin: 1;
    font-size: 20px;
    font-weight: bold;
  }

  h3 {
    font-size: 32px;
    text-align: center;
    color: black;
  }

  h4 {
    font-size: 23px;
  }

  h5 {
    font-size: 14px;
    color: black;
    font-family: helvetica;
  }

  [class*="col-md-6 col-lg-3"] {
    width: 50%;
    box-sizing: border-box;
    padding-right: 20px;
    padding-bottom: 30px;
    overflow: auto;
    line-height: 2;
    float: left;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-md-7 {
    width: 50%;
    float: right;
    padding-top: 80px;
    padding-left: 20px;
  }

  .logo {
    width: 60px;
    float: left;
  }

  body {
    font-size: 14px;
  }

  header {
    background-color: #047dbb;
    position: fixed;
    height: auto;
    max-width: 4000px;
    min-width: 1400px;
    padding-left: 400px;
    padding-right: 300px;
    -webkit-box-shadow: 0 7px 5px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 7px 5px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 0 7px 5px 0 rgba(50, 50, 50, 0.75);
    z-index: 3;
  }

  #hero {
    display: inline-block;
    color: #047dbb;
    text-align: center;
    font-family: helvetica;
    padding-top: 300px;
    padding-bottom: 300px;
    margin-left: auto;
    background-color: white;
    opacity: 0.85;
    width: auto;
  }

  .hero-image {
    background-image: url("https://miro.medium.com/max/1400/1*HqajPsLM17Z3VkMi1vxZ-Q.jpeg");
    background-position: center;
    background-size: cover;
    padding: none;
    width: auto;
  }

  nav {
    box-sizing: border-box;
    width: 100%;
    min-width: 10px;
    max-width: 500px;
    max-height: auto;
    min-height: 20px;
    padding-right: 6em;
    float: right;
  }

  nav > ul {
    list-style-type: none;
    box-sizing: border-box;
    float: right;
    padding: none;
    margin-top: 3;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle.responsive nav {
    padding-top: 40px;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive li {
    padding: 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 70px;
    max-width: 950px;
    text-align: left;
  }

  h1 {
    line-height: 1.5em;
    font-size: 46px;
    font-weight: bold;
  }

  h2 {
    margin: 1;
    font-size: 20px;
    font-weight: bold;
  }

  h3 {
    font-size: 32px;
    text-align: center;
    color: black;
  }

  h4 {
    font-size: 23px;
  }

  h5 {
    font-size: 14px;
    color: black;
    font-family: helvetica;
  }

  [class*="col-md-6 col-lg-3"] {
    width: 50%;
    box-sizing: border-box;
    padding-right: 20px;
    padding-bottom: 30px;
    overflow: auto;
    line-height: 2;
    float: left;
  }
}
